# Cleaning data

In [1]:
import pandas as pd
solution_file = pd.read_excel("solution.xlsx")
pd.set_option("max_colwidth", None)
solution_file

,departure,destination,number of containers
0,- X [ Transport -- source ; (0 : 0 on mode -1,TO Claveau ; (7 : 30 on mode 0,", of container cont Q003 > ] = 1"
1,- X [ Transport -- source ; (0 : 0 on mode -1,TO Parc-des-Expositions ; (7 : 29 on mode 1,", of container cont Q002 > ] = 1"
2,- X [ Transport -- source ; (0 : 0 on mode -1,TO Pin-Galant ; (7 : 12 on mode 2,", of container cont Q001 > ] = 1"
3,- X [ Transport -- Claveau ; (7 : 30 on mode 0,TO Quinconces ; (7 : 46 on mode 0,", of container cont Q003 > ] = 1"
4,- X [ indirect transshipment -- Quinconces ; (7 : 46 on mode 0,TO Quinconces ; (7 : 47 on mode -1,", of container cont Q003 > ] = 1"
5,- X [ waiting -- Quinconces ; (7 : 47 on mode -1,TO Quinconces ; (7 : 50 on mode 1,", of container cont Q003 > ] = 1"
6,- X [ Transport -- Parc-des-Expositions ; (7 : 29 on mode 1,TO Quinconces ; (7 : 50 on mode 1,", of container cont Q002 > ] = 1"
7,- X [ Transport -- Quinconces ; (7 : 50 on mode 1,TO Porte-de-Bourgogne ; (7 : 55 on mode 1,", of container cont Q002 > ] = 1"
8,- X [ Transport -- Quinconces ; (7 : 50 on mode 1,TO Porte-de-Bourgogne ; (7 : 55 on mode 1,", of container cont Q003 > ] = 1"
9,- X [ Transport -- Porte-de-Bourgogne ; (7 : 55 on mode 1,TO Gare-Saint-Jean ; (8 : 1 on mode 1,", of container cont Q001 > ] = 1"
10,- X [ Transport -- Porte-de-Bourgogne ; (7 : 55 on mode 1,TO Gare-Saint-Jean ; (8 : 1 on mode 1,", of container cont Q002 > ] = 1"
11,- X [ Transport -- Porte-de-Bourgogne ; (7 : 55 on mode 1,TO Gare-Saint-Jean ; (8 : 1 on mode 1,", of container cont Q003 > ] = 1"
12,- X [ Transport -- Gare-Saint-Jean ; (8 : 1 on mode 1,TO Gare-de-Begles ; (8 : 13 on mode 1,", of container cont Q001 > ] = 1"
13,- X [ Transport -- Gare-Saint-Jean ; (8 : 1 on mode 1,TO Gare-de-Begles ; (8 : 13 on mode 1,", of container cont Q002 > ] = 1"
14,- X [ Transport -- Gare-Saint-Jean ; (8 : 1 on mode 1,TO Gare-de-Begles ; (8 : 13 on mode 1,", of container cont Q003 > ] = 1"
15,- X [ Transport -- Gare-de-Begles ; (8 : 13 on mode 1,TO Villenave-Pyr√ön√öes ; (8 : 24 on mode 1,", of container cont Q001 > ] = 1"
16,- X [ Transport -- Gare-de-Begles ; (8 : 13 on mode 1,TO Villenave-Pyr√ön√öes ; (8 : 24 on mode 1,", of container cont Q002 > ] = 1"
17,- X [ Transport -- Gare-de-Begles ; (8 : 13 on mode 1,TO Villenave-Pyr√ön√öes ; (8 : 24 on mode 1,", of container cont Q003 > ] = 1"
18,- X [ Transport -- Villenave-Pyr√ön√öes ; (8 : 24 on mode 1,TO sink ; (23 : 59 on mode -1,", of container cont Q001 > ] = 1"
19,- X [ Transport -- Villenave-Pyr√ön√öes ; (8 : 24 on mode 1,TO sink ; (23 : 59 on mode -1,", of container cont Q002 > ] = 1"
20,- X [ Transport -- Villenave-Pyr√ön√öes ; (8 : 24 on mode 1,TO sink ; (23 : 59 on mode -1,", of container cont Q003 > ] = 1"
21,- X [ Transport -- Pin-Galant ; (7 : 12 on mode 2,TO Fontaine-Arlac ; (7 : 24 on mode 2,", of container cont Q001 > ] = 1"
22,- X [ Transport -- Fontaine-Arlac ; (7 : 24 on mode 2,TO Hotel-de-Ville ; (7 : 42 on mode 2,", of container cont Q001 > ] = 1"
23,- X [ Transport -- Hotel-de-Ville ; (7 : 42 on mode 2,TO Porte-de-Bourgogne ; (7 : 46 on mode 2,", of container cont Q001 > ] = 1"
24,- X [ indirect transshipment -- Porte-de-Bourgogne ; (7 : 46 on mode 2,TO Porte-de-Bourgogne ; (7 : 47 on mode -1,", of container cont Q001 > ] = 1"
25,- X [ waiting -- Porte-de-Bourgogne ; (7 : 47 on mode -1,TO Porte-de-Bourgogne ; (7 : 55 on mode 1,", of container cont Q001 > ] = 1"

In [2]:
solution_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   departure             26 non-null     object
 1   destination           26 non-null     object
 2   number of containers  26 non-null     object
dtypes: object(3)
memory usage: 752.0+ bytes

## Remove symbols and letters

In [3]:
solution_file["departure"] = solution_file["departure"].str.replace("-", " ")
solution_file["departure"] = solution_file["departure"].str.replace("X", " ")
solution_file["departure"] = solution_file["departure"].str.replace("[", " ")
solution_file["departure"] = solution_file["departure"].str.replace("--", " ")
solution_file["departure"] = solution_file["departure"].str.replace(";", " ")
solution_file["departure"] = solution_file["departure"].str.replace("(", " ")
solution_file["departure"] = solution_file["departure"].str.replace("on", " ")

/var/folders/8b/lsd149jx0zdcl9tt_7fnt6ch0000gn/T/ipykernel_76078/3250645146.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  solution_file["departure"] = solution_file["departure"].str.replace("[", " ")
/var/folders/8b/lsd149jx0zdcl9tt_7fnt6ch0000gn/T/ipykernel_76078/3250645146.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  solution_file["departure"] = solution_file["departure"].str.replace("(", " ")

In [4]:
solution_file["destination"] = solution_file["destination"].str.replace("TO", " ")
solution_file["destination"] = solution_file["destination"].str.replace(";", " ")
solution_file["destination"] = solution_file["destination"].str.replace("(", " ")
solution_file["destination"] = solution_file["destination"].str.replace("on", " ")

/var/folders/8b/lsd149jx0zdcl9tt_7fnt6ch0000gn/T/ipykernel_76078/2074374256.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  solution_file["destination"] = solution_file["destination"].str.replace("(", " ")

In [5]:
solution_file["number of containers"] = solution_file["number of containers"].str.replace(",", " ")
solution_file["number of containers"] = solution_file["number of containers"].str.replace("of", " ")
solution_file["number of containers"] = solution_file["number of containers"].str.replace("container", " ")
solution_file["number of containers"] = solution_file["number of containers"].str.replace("cont", " ")
solution_file["number of containers"] = solution_file["number of containers"].str.replace(">", " ")
solution_file["number of containers"] = solution_file["number of containers"].str.replace("=", " ")
solution_file["number of containers"] = solution_file["number of containers"].str.replace("1", " ")
solution_file["number of containers"] = solution_file["number of containers"].str.replace("]", " ")

/var/folders/8b/lsd149jx0zdcl9tt_7fnt6ch0000gn/T/ipykernel_76078/3270724052.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  solution_file["number of containers"] = solution_file["number of containers"].str.replace("]", " ")

In [6]:
solution_file

,departure,destination,number of containers
0,Transport source 0 : 0 mode 1,Claveau 7 : 30 mode 0,Q003
1,Transport source 0 : 0 mode 1,Parc-des-Expositi s 7 : 29 mode 1,Q002
2,Transport source 0 : 0 mode 1,Pin-Galant 7 : 12 mode 2,Q00
3,Transport Claveau 7 : 30 mode 0,Quinc ces 7 : 46 mode 0,Q003
4,indirect transshipment Quinc ces 7 : 46 mode 0,Quinc ces 7 : 47 mode -1,Q003
5,waiting Quinc ces 7 : 47 mode 1,Quinc ces 7 : 50 mode 1,Q003
6,Transport Parc des Expositi s 7 : 29 mode 1,Quinc ces 7 : 50 mode 1,Q002
7,Transport Quinc ces 7 : 50 mode 1,Porte-de-Bourgogne 7 : 55 mode 1,Q002
8,Transport Quinc ces 7 : 50 mode 1,Porte-de-Bourgogne 7 : 55 mode 1,Q003
9,Transport Porte de Bourgogne 7 : 55 mode 1,Gare-Saint-Jean 8 : 1 mode 1,Q00
10,Transport Porte de Bourgogne 7 : 55 mode 1,Gare-Saint-Jean 8 : 1 mode 1,Q002
11,Transport Porte de Bourgogne 7 : 55 mode 1,Gare-Saint-Jean 8 : 1 mode 1,Q003
12,Transport Gare Saint Jean 8 : 1 mode 1,Gare-de-Begles 8 : 13 mode 1,Q00
13,Transport Gare Saint Jean 8 : 1 mode 1,Gare-de-Begles 8 : 13 mode 1,Q002
14,Transport Gare Saint Jean 8 : 1 mode 1,Gare-de-Begles 8 : 13 mode 1,Q003
15,Transport Gare de Begles 8 : 13 mode 1,Villenave-Pyr√ön√öes 8 : 24 mode 1,Q00
16,Transport Gare de Begles 8 : 13 mode 1,Villenave-Pyr√ön√öes 8 : 24 mode 1,Q002
17,Transport Gare de Begles 8 : 13 mode 1,Villenave-Pyr√ön√öes 8 : 24 mode 1,Q003
18,Transport Villenave Pyr√ön√öes 8 : 24 mode 1,sink 23 : 59 mode -1,Q00
19,Transport Villenave Pyr√ön√öes 8 : 24 mode 1,sink 23 : 59 mode -1,Q002
20,Transport Villenave Pyr√ön√öes 8 : 24 mode 1,sink 23 : 59 mode -1,Q003
21,Transport Pin Galant 7 : 12 mode 2,F taine-Arlac 7 : 24 mode 2,Q00
22,Transport F taine Arlac 7 : 24 mode 2,Hotel-de-Ville 7 : 42 mode 2,Q00
23,Transport Hotel de Ville 7 : 42 mode 2,Porte-de-Bourgogne 7 : 46 mode 2,Q00
24,indirect transshipment Porte de Bourgogne 7 : 46 mode 2,Porte-de-Bourgogne 7 : 47 mode -1,Q00
25,waiting Porte de Bourgogne 7 : 47 mode 1,Porte-de-Bourgogne 7 : 55 mode 1,Q00

In [7]:
solution_file.to_excel("New_solution.xlsx", index=False)

### The removing step has some problems, such as removing "on" in the station names, so we recheck and edit this file in Excel.

In [8]:
import pandas as pd

In [9]:
solution = pd.read_excel("Newsolution.xlsx")
solution

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
0,Transport,source,0:0,mode1,Claveau,7:30,mode0,Q003
1,Transport,source,0:0,mode1,Parc-des-Expositions,7:29,mode1,Q002
2,Transport,source,0:0,mode1,Pin-Galant,7:12,mode2,Q001
3,Transport,Claveau,7:30,mode0,Quinconces,7:46,mode0,Q003
4,indirect transshipment,Quinconces,7:46,mode0,Quinconces,7:47,mode-1,Q003
5,waiting,Quinconces,7:47,mode1,Quinconces,7:50,mode1,Q003
6,Transport,Parc-des-Expositions,7:29,mode1,Quinconces,7:50,mode1,Q002
7,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q002
8,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003
9,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001
10,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q002
11,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q003
12,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q001
13,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q002
14,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q003
15,Transport,Gare-de-Begles,8:13,mode1,Villenave-Pyr√ön√öes,8:24,mode1,Q001
16,Transport,Gare-de-Begles,8:13,mode1,Villenave-Pyr√ön√öes,8:24,mode1,Q002
17,Transport,Gare-de-Begles,8:13,mode1,Villenave-Pyr√ön√öes,8:24,mode1,Q003
18,Transport,Villenave-Pyr√ön√öes,8:24,mode1,sink,23:59,mode-1,Q001
19,Transport,Villenave-Pyr√ön√öes,8:24,mode1,sink,23:59,mode-1,Q002
20,Transport,Villenave-Pyr√ön√öes,8:24,mode1,sink,23:59,mode-1,Q003
21,Transport,Pin-Galant,7:12,mode2,Fontaine-Arlac,7:24,mode2,Q001
22,Transport,Fontaine-Arlac,7:24,mode2,Hotel-de-Ville,7:42,mode2,Q001
23,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001
24,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001
25,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001

## Depending on the containers, we divide the solution dataframe into 3 dataframes.

In [10]:
Q001 = solution.loc[solution["number of containers"].str.contains("Q001")].reset_index(drop=True)
Q001

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
0,Transport,source,0:0,mode1,Pin-Galant,7:12,mode2,Q001
1,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001
2,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q001
3,Transport,Gare-de-Begles,8:13,mode1,Villenave-Pyr√ön√öes,8:24,mode1,Q001
4,Transport,Villenave-Pyr√ön√öes,8:24,mode1,sink,23:59,mode-1,Q001
5,Transport,Pin-Galant,7:12,mode2,Fontaine-Arlac,7:24,mode2,Q001
6,Transport,Fontaine-Arlac,7:24,mode2,Hotel-de-Ville,7:42,mode2,Q001
7,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001
8,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001
9,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001

In [11]:
new_index = [0,5,6,7,8,9,1,2,3,4]
Q001 = Q001.reindex(new_index).reset_index()
Q001

,index,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
0,0,Transport,source,0:0,mode1,Pin-Galant,7:12,mode2,Q001
1,5,Transport,Pin-Galant,7:12,mode2,Fontaine-Arlac,7:24,mode2,Q001
2,6,Transport,Fontaine-Arlac,7:24,mode2,Hotel-de-Ville,7:42,mode2,Q001
3,7,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001
4,8,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001
5,9,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001
6,1,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001
7,2,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q001
8,3,Transport,Gare-de-Begles,8:13,mode1,Villenave-Pyr√ön√öes,8:24,mode1,Q001
9,4,Transport,Villenave-Pyr√ön√öes,8:24,mode1,sink,23:59,mode-1,Q001

In [12]:
Q001=Q001.drop(["index"],axis=1)
Q001

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
0,Transport,source,0:0,mode1,Pin-Galant,7:12,mode2,Q001
1,Transport,Pin-Galant,7:12,mode2,Fontaine-Arlac,7:24,mode2,Q001
2,Transport,Fontaine-Arlac,7:24,mode2,Hotel-de-Ville,7:42,mode2,Q001
3,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001
4,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001
5,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001
6,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001
7,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q001
8,Transport,Gare-de-Begles,8:13,mode1,Villenave-Pyr√ön√öes,8:24,mode1,Q001
9,Transport,Villenave-Pyr√ön√öes,8:24,mode1,sink,23:59,mode-1,Q001

In [13]:
Q002 = solution.loc[solution["number of containers"].str.contains("Q002")].reset_index(drop=True)
Q002

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
0,Transport,source,0:0,mode1,Parc-des-Expositions,7:29,mode1,Q002
1,Transport,Parc-des-Expositions,7:29,mode1,Quinconces,7:50,mode1,Q002
2,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q002
3,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q002
4,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q002
5,Transport,Gare-de-Begles,8:13,mode1,Villenave-Pyr√ön√öes,8:24,mode1,Q002
6,Transport,Villenave-Pyr√ön√öes,8:24,mode1,sink,23:59,mode-1,Q002

In [14]:
Q003 = solution.loc[solution["number of containers"].str.contains("Q003")].reset_index(drop=True)
Q003

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
0,Transport,source,0:0,mode1,Claveau,7:30,mode0,Q003
1,Transport,Claveau,7:30,mode0,Quinconces,7:46,mode0,Q003
2,indirect transshipment,Quinconces,7:46,mode0,Quinconces,7:47,mode-1,Q003
3,waiting,Quinconces,7:47,mode1,Quinconces,7:50,mode1,Q003
4,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003
5,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q003
6,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q003
7,Transport,Gare-de-Begles,8:13,mode1,Villenave-Pyr√ön√öes,8:24,mode1,Q003
8,Transport,Villenave-Pyr√ön√öes,8:24,mode1,sink,23:59,mode-1,Q003

## Import the parcel document which has been edited in Excel  
- remove the columns we don't need to use(volumn and time)

In [15]:
parcel=pd.read_excel("parcel.xlsx")
parcel

  parcel number             departure         destination
0          P001               Claveau  Porte-de-Bourgogne
1          P002               Claveau     Gare-Saint-Jean
2          P003            Quinconces     Gare-Saint-Jean
3          P004        Hotel-de-Ville      Gare-de-Begles
4          P005        Hotel-de-Ville     Gare-Saint-Jean
5          P006  Parc-des-Expositions     Gare-Saint-Jean
6          P007            Pin-Galant     Gare-Saint-Jean

### Depending on the departure of each parcel, confim which container the parcel is in

In [16]:
merged = pd.merge(solution,parcel, on=["departure"],how="inner")

In [17]:
selected_columns = merged[["Status","departure", "departure time","departure mode","number of containers","parcel number"]]
selected_columns

,Status,departure,departure time,departure mode,number of containers,parcel number
0,Transport,Claveau,7:30,mode0,Q003,P001
1,Transport,Claveau,7:30,mode0,Q003,P002
2,indirect transshipment,Quinconces,7:46,mode0,Q003,P003
3,waiting,Quinconces,7:47,mode1,Q003,P003
4,Transport,Quinconces,7:50,mode1,Q002,P003
5,Transport,Quinconces,7:50,mode1,Q003,P003
6,Transport,Parc-des-Expositions,7:29,mode1,Q002,P006
7,Transport,Pin-Galant,7:12,mode2,Q001,P007
8,Transport,Hotel-de-Ville,7:42,mode2,Q001,P004
9,Transport,Hotel-de-Ville,7:42,mode2,Q001,P005

### Depending on the destination of each parcel, confim which container the parcel is in

In [18]:
mergedD = pd.merge(solution,parcel, on=["destination"],how="inner")

In [19]:
selected_columnsD = mergedD[["Status","destination","destination time", "destination mode","number of containers","parcel number"]]
selected_columnsD

,Status,destination,destination time,destination mode,number of containers,parcel number
0,Transport,Porte-de-Bourgogne,7:55,mode1,Q002,P001
1,Transport,Porte-de-Bourgogne,7:55,mode1,Q003,P001
2,Transport,Porte-de-Bourgogne,7:46,mode2,Q001,P001
3,indirect transshipment,Porte-de-Bourgogne,7:47,mode-1,Q001,P001
4,waiting,Porte-de-Bourgogne,7:55,mode1,Q001,P001
5,Transport,Gare-Saint-Jean,8:1,mode1,Q001,P002
6,Transport,Gare-Saint-Jean,8:1,mode1,Q001,P003
7,Transport,Gare-Saint-Jean,8:1,mode1,Q001,P005
8,Transport,Gare-Saint-Jean,8:1,mode1,Q001,P006
9,Transport,Gare-Saint-Jean,8:1,mode1,Q001,P007
10,Transport,Gare-Saint-Jean,8:1,mode1,Q002,P002
11,Transport,Gare-Saint-Jean,8:1,mode1,Q002,P003
12,Transport,Gare-Saint-Jean,8:1,mode1,Q002,P005
13,Transport,Gare-Saint-Jean,8:1,mode1,Q002,P006
14,Transport,Gare-Saint-Jean,8:1,mode1,Q002,P007
15,Transport,Gare-Saint-Jean,8:1,mode1,Q003,P002
16,Transport,Gare-Saint-Jean,8:1,mode1,Q003,P003
17,Transport,Gare-Saint-Jean,8:1,mode1,Q003,P005
18,Transport,Gare-Saint-Jean,8:1,mode1,Q003,P006
19,Transport,Gare-Saint-Jean,8:1,mode1,Q003,P007
20,Transport,Gare-de-Begles,8:13,mode1,Q001,P004
21,Transport,Gare-de-Begles,8:13,mode1,Q002,P004
22,Transport,Gare-de-Begles,8:13,mode1,Q003,P004

### Depending on the number of caintainers and parcel, confirm the information of each parcel

In [20]:
mergedP = pd.merge(selected_columns,selected_columnsD, on=["number of containers", "parcel number"],how="inner")

In [21]:
selected_columnsP = mergedP[["departure","departure time", "departure mode", "destination","destination time", "destination mode","number of containers","parcel number"]]
selected_columnsP

,departure,departure time,departure mode,destination,destination time,destination mode,number of containers,parcel number
0,Claveau,7:30,mode0,Porte-de-Bourgogne,7:55,mode1,Q003,P001
1,Claveau,7:30,mode0,Gare-Saint-Jean,8:1,mode1,Q003,P002
2,Quinconces,7:46,mode0,Gare-Saint-Jean,8:1,mode1,Q003,P003
3,Quinconces,7:47,mode1,Gare-Saint-Jean,8:1,mode1,Q003,P003
4,Quinconces,7:50,mode1,Gare-Saint-Jean,8:1,mode1,Q003,P003
5,Quinconces,7:50,mode1,Gare-Saint-Jean,8:1,mode1,Q002,P003
6,Parc-des-Expositions,7:29,mode1,Gare-Saint-Jean,8:1,mode1,Q002,P006
7,Pin-Galant,7:12,mode2,Gare-Saint-Jean,8:1,mode1,Q001,P007
8,Hotel-de-Ville,7:42,mode2,Gare-de-Begles,8:13,mode1,Q001,P004
9,Hotel-de-Ville,7:42,mode2,Gare-Saint-Jean,8:1,mode1,Q001,P005

In [22]:
selected_columnsP["parcel number"].duplicated()

0    False
1    False
2    False
3     True
4     True
5     True
6    False
7    False
8    False
9    False
Name: parcel number, dtype: bool

In [23]:
rows_to_exclude = [3,4,5]
parcel_confirm = selected_columnsP[~selected_columnsP.index.isin(rows_to_exclude)]
parcel_confirm

,departure,departure time,departure mode,destination,destination time,destination mode,number of containers,parcel number
0,Claveau,7:30,mode0,Porte-de-Bourgogne,7:55,mode1,Q003,P001
1,Claveau,7:30,mode0,Gare-Saint-Jean,8:1,mode1,Q003,P002
2,Quinconces,7:46,mode0,Gare-Saint-Jean,8:1,mode1,Q003,P003
6,Parc-des-Expositions,7:29,mode1,Gare-Saint-Jean,8:1,mode1,Q002,P006
7,Pin-Galant,7:12,mode2,Gare-Saint-Jean,8:1,mode1,Q001,P007
8,Hotel-de-Ville,7:42,mode2,Gare-de-Begles,8:13,mode1,Q001,P004
9,Hotel-de-Ville,7:42,mode2,Gare-Saint-Jean,8:1,mode1,Q001,P005

#### The table above shows:  
- P001, P002, P003 in Q003  
- P004, P005, P007 in Q001  
- P006 in Q002  
(After checking, the path of P003 is the same in Q002 and Q003. So here, we put P003 in Q003.)

## The path of parcels in Q003

In [24]:
Q003

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
0,Transport,source,0:0,mode1,Claveau,7:30,mode0,Q003
1,Transport,Claveau,7:30,mode0,Quinconces,7:46,mode0,Q003
2,indirect transshipment,Quinconces,7:46,mode0,Quinconces,7:47,mode-1,Q003
3,waiting,Quinconces,7:47,mode1,Quinconces,7:50,mode1,Q003
4,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003
5,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q003
6,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q003
7,Transport,Gare-de-Begles,8:13,mode1,Villenave-Pyr√ön√öes,8:24,mode1,Q003
8,Transport,Villenave-Pyr√ön√öes,8:24,mode1,sink,23:59,mode-1,Q003

In [25]:
Q003_filtered_P001 = Q003[(Q003['departure'] == parcel_confirm['departure'][0]) | (Q003['destination']== parcel_confirm['destination'][0])]
Q003_filtered_P001

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
1,Transport,Claveau,7:30,mode0,Quinconces,7:46,mode0,Q003
4,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003

In [26]:
# Based on the index above, the entire path of P001 can be determined.
Q003_P001 = Q003[1:5]
Q003_P001

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
1,Transport,Claveau,7:30,mode0,Quinconces,7:46,mode0,Q003
2,indirect transshipment,Quinconces,7:46,mode0,Quinconces,7:47,mode-1,Q003
3,waiting,Quinconces,7:47,mode1,Quinconces,7:50,mode1,Q003
4,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003

In [27]:
number_of_parcels = ["P001","P001","P001","P001"]
Q003_P001["number of parcels"] = number_of_parcels
Q003_P001

/var/folders/8b/lsd149jx0zdcl9tt_7fnt6ch0000gn/T/ipykernel_76078/2765504124.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q003_P001["number of parcels"] = number_of_parcels

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers,number of parcels
1,Transport,Claveau,7:30,mode0,Quinconces,7:46,mode0,Q003,P001
2,indirect transshipment,Quinconces,7:46,mode0,Quinconces,7:47,mode-1,Q003,P001
3,waiting,Quinconces,7:47,mode1,Quinconces,7:50,mode1,Q003,P001
4,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003,P001

In [28]:
Q003_filtered_P002 = Q003[(Q003['departure'] == parcel_confirm['departure'][1]) | (Q003['destination']== parcel_confirm['destination'][1])]
Q003_filtered_P002

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
1,Transport,Claveau,7:30,mode0,Quinconces,7:46,mode0,Q003
5,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q003

In [29]:
# Based on the index above, the entire path of P002 can be determined.
Q003_P002 = Q003[1:6]
Q003_P002

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
1,Transport,Claveau,7:30,mode0,Quinconces,7:46,mode0,Q003
2,indirect transshipment,Quinconces,7:46,mode0,Quinconces,7:47,mode-1,Q003
3,waiting,Quinconces,7:47,mode1,Quinconces,7:50,mode1,Q003
4,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003
5,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q003

In [30]:
number_of_parcels = ["P002","P002","P002","P002","P002"]
Q003_P002["number of parcels"] = number_of_parcels
Q003_P002

/var/folders/8b/lsd149jx0zdcl9tt_7fnt6ch0000gn/T/ipykernel_76078/971805090.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q003_P002["number of parcels"] = number_of_parcels

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers,number of parcels
1,Transport,Claveau,7:30,mode0,Quinconces,7:46,mode0,Q003,P002
2,indirect transshipment,Quinconces,7:46,mode0,Quinconces,7:47,mode-1,Q003,P002
3,waiting,Quinconces,7:47,mode1,Quinconces,7:50,mode1,Q003,P002
4,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003,P002
5,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q003,P002

In [31]:
Q003_filtered_P003 = Q003[(Q003['departure'] == parcel_confirm['departure'][2]) | (Q003['destination']== parcel_confirm['destination'][2])]
Q003_filtered_P003

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
2,indirect transshipment,Quinconces,7:46,mode0,Quinconces,7:47,mode-1,Q003
3,waiting,Quinconces,7:47,mode1,Quinconces,7:50,mode1,Q003
4,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003
5,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q003

In [32]:
# Based on the index above, the entire path of P003 can be determined.
Q003_P003 = Q003[2:6]
Q003_P003

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
2,indirect transshipment,Quinconces,7:46,mode0,Quinconces,7:47,mode-1,Q003
3,waiting,Quinconces,7:47,mode1,Quinconces,7:50,mode1,Q003
4,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003
5,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q003

In [33]:
number_of_parcels = ["P003","P003","P003","P003"]
Q003_P003["number of parcels"] = number_of_parcels
Q003_P003

/var/folders/8b/lsd149jx0zdcl9tt_7fnt6ch0000gn/T/ipykernel_76078/1617803461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q003_P003["number of parcels"] = number_of_parcels

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers,number of parcels
2,indirect transshipment,Quinconces,7:46,mode0,Quinconces,7:47,mode-1,Q003,P003
3,waiting,Quinconces,7:47,mode1,Quinconces,7:50,mode1,Q003,P003
4,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003,P003
5,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q003,P003

## The path of parcels in Q001

In [34]:
Q001

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
0,Transport,source,0:0,mode1,Pin-Galant,7:12,mode2,Q001
1,Transport,Pin-Galant,7:12,mode2,Fontaine-Arlac,7:24,mode2,Q001
2,Transport,Fontaine-Arlac,7:24,mode2,Hotel-de-Ville,7:42,mode2,Q001
3,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001
4,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001
5,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001
6,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001
7,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q001
8,Transport,Gare-de-Begles,8:13,mode1,Villenave-Pyr√ön√öes,8:24,mode1,Q001
9,Transport,Villenave-Pyr√ön√öes,8:24,mode1,sink,23:59,mode-1,Q001

In [35]:
Q001_filtered_P004 = Q001[(Q001['departure'] == parcel_confirm['departure'][8]) | (Q001['destination']== parcel_confirm['destination'][8])]
Q001_filtered_P004

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
3,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001
7,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q001

In [36]:
# Based on the index above, the entire path of P004 can be determined.
Q001_P004 = Q001[3:8]
Q001_P004

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
3,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001
4,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001
5,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001
6,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001
7,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q001

In [37]:
number_of_parcels = ["P004","P004","P004","P004","P004"]
Q001_P004["number of parcels"] = number_of_parcels
Q001_P004

/var/folders/8b/lsd149jx0zdcl9tt_7fnt6ch0000gn/T/ipykernel_76078/2682548515.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q001_P004["number of parcels"] = number_of_parcels

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers,number of parcels
3,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001,P004
4,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001,P004
5,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001,P004
6,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001,P004
7,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q001,P004

In [38]:
Q001_filtered_P005 = Q001[(Q001['departure'] == parcel_confirm['departure'][9]) | (Q001['destination']== parcel_confirm['destination'][9])]
Q001_filtered_P005

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
3,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001
6,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001

In [39]:
# Based on the index above, the entire path of P005 can be determined.
Q001_P005 = Q001[3:7]
Q001_P005

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
3,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001
4,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001
5,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001
6,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001

In [40]:
number_of_parcels = ["P005","P005","P005","P005"]
Q001_P005["number of parcels"] = number_of_parcels
Q001_P005

/var/folders/8b/lsd149jx0zdcl9tt_7fnt6ch0000gn/T/ipykernel_76078/2017242807.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q001_P005["number of parcels"] = number_of_parcels

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers,number of parcels
3,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001,P005
4,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001,P005
5,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001,P005
6,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001,P005

In [41]:
Q001_filtered_P007 = Q001[(Q001['departure'] == parcel_confirm['departure'][7]) | (Q001['destination']== parcel_confirm['destination'][7])]
Q001_filtered_P007

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
1,Transport,Pin-Galant,7:12,mode2,Fontaine-Arlac,7:24,mode2,Q001
6,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001

In [42]:
# Based on the index above, the entire path of P007 can be determined.
Q001_P007 = Q001[1:7]
Q001_P007

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
1,Transport,Pin-Galant,7:12,mode2,Fontaine-Arlac,7:24,mode2,Q001
2,Transport,Fontaine-Arlac,7:24,mode2,Hotel-de-Ville,7:42,mode2,Q001
3,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001
4,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001
5,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001
6,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001

In [43]:
number_of_parcels = ["P007","P007","P007","P007","P007","P007"]
Q001_P007["number of parcels"] = number_of_parcels
Q001_P007

/var/folders/8b/lsd149jx0zdcl9tt_7fnt6ch0000gn/T/ipykernel_76078/1663470930.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q001_P007["number of parcels"] = number_of_parcels

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers,number of parcels
1,Transport,Pin-Galant,7:12,mode2,Fontaine-Arlac,7:24,mode2,Q001,P007
2,Transport,Fontaine-Arlac,7:24,mode2,Hotel-de-Ville,7:42,mode2,Q001,P007
3,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001,P007
4,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001,P007
5,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001,P007
6,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001,P007

## The path of parcels in Q002

In [44]:
Q002

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
0,Transport,source,0:0,mode1,Parc-des-Expositions,7:29,mode1,Q002
1,Transport,Parc-des-Expositions,7:29,mode1,Quinconces,7:50,mode1,Q002
2,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q002
3,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q002
4,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q002
5,Transport,Gare-de-Begles,8:13,mode1,Villenave-Pyr√ön√öes,8:24,mode1,Q002
6,Transport,Villenave-Pyr√ön√öes,8:24,mode1,sink,23:59,mode-1,Q002

In [45]:
Q002_filtered_P006 = Q002[(Q002['departure'] == parcel_confirm['departure'][6]) | (Q002['destination']== parcel_confirm['destination'][6])]
Q002_filtered_P006

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
1,Transport,Parc-des-Expositions,7:29,mode1,Quinconces,7:50,mode1,Q002
3,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q002

In [46]:
# Based on the index above, the entire path of P006 can be determined.
Q002_P006 = Q002[1:4]
Q002_P006

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers
1,Transport,Parc-des-Expositions,7:29,mode1,Quinconces,7:50,mode1,Q002
2,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q002
3,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q002

In [47]:
number_of_parcels = ["P006","P006","P006"]
Q002_P006["number of parcels"] = number_of_parcels
Q002_P006

/var/folders/8b/lsd149jx0zdcl9tt_7fnt6ch0000gn/T/ipykernel_76078/3001426264.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Q002_P006["number of parcels"] = number_of_parcels

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers,number of parcels
1,Transport,Parc-des-Expositions,7:29,mode1,Quinconces,7:50,mode1,Q002,P006
2,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q002,P006
3,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q002,P006

In [48]:
Parcel_path = pd.concat([Q003_P001, Q003_P002,Q003_P003,Q001_P004,Q001_P005,Q002_P006,Q001_P007])

In [49]:
Parcel_path.reset_index(drop=True)
Parcel_path

,Status,departure,departure time,departure mode,destination,destination time,destination mode,number of containers,number of parcels
1,Transport,Claveau,7:30,mode0,Quinconces,7:46,mode0,Q003,P001
2,indirect transshipment,Quinconces,7:46,mode0,Quinconces,7:47,mode-1,Q003,P001
3,waiting,Quinconces,7:47,mode1,Quinconces,7:50,mode1,Q003,P001
4,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003,P001
1,Transport,Claveau,7:30,mode0,Quinconces,7:46,mode0,Q003,P002
2,indirect transshipment,Quinconces,7:46,mode0,Quinconces,7:47,mode-1,Q003,P002
3,waiting,Quinconces,7:47,mode1,Quinconces,7:50,mode1,Q003,P002
4,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003,P002
5,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q003,P002
2,indirect transshipment,Quinconces,7:46,mode0,Quinconces,7:47,mode-1,Q003,P003
3,waiting,Quinconces,7:47,mode1,Quinconces,7:50,mode1,Q003,P003
4,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q003,P003
5,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q003,P003
3,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001,P004
4,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001,P004
5,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001,P004
6,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001,P004
7,Transport,Gare-Saint-Jean,8:1,mode1,Gare-de-Begles,8:13,mode1,Q001,P004
3,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001,P005
4,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001,P005
5,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001,P005
6,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001,P005
1,Transport,Parc-des-Expositions,7:29,mode1,Quinconces,7:50,mode1,Q002,P006
2,Transport,Quinconces,7:50,mode1,Porte-de-Bourgogne,7:55,mode1,Q002,P006
3,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q002,P006
1,Transport,Pin-Galant,7:12,mode2,Fontaine-Arlac,7:24,mode2,Q001,P007
2,Transport,Fontaine-Arlac,7:24,mode2,Hotel-de-Ville,7:42,mode2,Q001,P007
3,Transport,Hotel-de-Ville,7:42,mode2,Porte-de-Bourgogne,7:46,mode2,Q001,P007
4,indirect transshipment,Porte-de-Bourgogne,7:46,mode2,Porte-de-Bourgogne,7:47,mode-1,Q001,P007
5,waiting,Porte-de-Bourgogne,7:47,mode1,Porte-de-Bourgogne,7:55,mode1,Q001,P007
6,Transport,Porte-de-Bourgogne,7:55,mode1,Gare-Saint-Jean,8:1,mode1,Q001,P007

In [50]:
Parcel_path.to_excel("Parcel path.xlsx", index=False)